main{
    padding-top: 150px; 
    .main-about__top{
        padding-bottom: 30px;
        @include flex ();
        flex-direction: column;
        .main-about__top-a a:last-child{
            color: $mainColor;
        }
    }
    .about-us{
        background-color: $mainBackGround;
        padding: 20px;
        .about-us__title{
            color:$mainColor;
        }
        .about-us__details{
            padding-top: 10px;
            a{
                color: $mainColor;
                &:hover{
                    color: $mainColor2
                }
            }
        }
        @include flex ();
        h3{
            color: $mainColor2;
            padding-top: 10px;
        }
    }
}