main{
    padding-top: 150px; 
    .main-contact__top{
        padding-bottom: 30px;
        @include flex ();
        flex-direction: column;
        .main-contact__top-a a{
            color: $mainColor3;
        }
        .main-contact__top-a a:last-child{
            color: $mainColor;
        }
    }
    .main-contact__bottom{
        background-color: $mainBackGround;
        height: 400px;
        padding: 40px 100px;
        .main-contact__bottom-form{
            max-width: 500px;
            color: $mainColor;
            .main-contact__bottom-form-input{
                @include flex (flex,space-evenly,center);
                label{
                    color: $labelColor;
                }
                input{
                    border: 2px solid $inputColor;
                    padding: 5px 10px;
                    border-radius: 5px;
                    outline: none;
                }
            }
            .main-contact__bottom-form-textarea{
                @include flex (flex,start,start);
                padding-right: 50px;
                label{
                    color: $labelColor;
                }
                textarea{
                    border: 2px solid $inputColor;
                    padding: 5px 10px;
                    border-radius: 5px;
                    outline: none;
                    width: 410px;
                    height: 100px;
                }
            }
            .main-contact__bottom-form-button{
                @include flex (flex,space-evenly,center);
                padding: 10px 0; 
            }
        }
    }
}