$mainColor:#d35400;
$navBgColor:#f6ddc6;
@mixin flex ($display:flex,$justify-content:center,$align-items:center) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin img1 {
    width: 80px;
    height: 70px;
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    @include flex(flex,space-evenly,center);
    background-color: $navBgColor;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
}
div{
    color: black;
    &.header-logo{
        max-width: 100px;
        @include flex();
        flex-direction: column;
        .image1 {
            @include img1 ();
        }  
    }
    &.header-btn{
        max-width: 150px;
    }
    &.header-search{
        @include flex();
        position: relative;
        i{
            position: absolute;
            right: 2px;
            color: $mainColor;
        }
        input{
            border: 2px solid $mainColor;
            border-radius: 5px;
            outline: none;
            padding-right: 17px;
            display: block;
            @media screen and (max-width: 745px){
                display: none;
            }
        }
    }
    &.header-nav-button{
        display: none;
        @media screen and (max-width:718px){
            display: block;
            @include flex(flex, start, start);
        }
    }
}
nav{
    @media screen and (max-width: 745px){
        display: none;
    }
}
ul{
    @include flex();
    list-style-type: none;
    a{
        text-decoration: none;
        color: $mainColor;
        font-size: 20px;
        padding: 0px 15px;
    }
}

