main {
  .main-index__top {
    background-image: url(../image/main/main.jpg);
    background-position: center;
    height: 250px;
    margin-bottom: 55px;
    h1{
        color: $mainColor2;
        @include flex ();
        background-color: #ffffff;
    }
  }
  .main-index__bottom{
    @include flex (flex,space-evenly,center);
    padding-bottom: 20px;
    .main-index__bottom-box{
      a{
        @include flex ();
        flex-direction: column;
        img{
          width: 200px;
          border-radius: 50%;
          padding: 5px;
          border: 2px solid $mainColor2;
          &:hover{
            border: 2px dashed $inputColor;
          }
        }
      }
      .main-index__bottom-title{
        color: $labelColor;
        padding-top: 10px;
        font-size: 20px;
      }
      
    }
  }
}
