main{
    padding-top: 150px; 
    .main-product__top{
        padding-bottom: 30px;
        @include flex ();
        flex-direction: column;
        .main-product__top-a a{
            color: $mainColor3;
        }
        .main-product__top-a a:last-child{
            color: $mainColor;
        }
    }
    background-color: $mainBackGround;
    .product-container{
        padding: 20px;
        @include flex (flex,space-evenly,center);
        flex-wrap: wrap;
        .product-box{
            display: inline-block;
            margin-bottom: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 10px;
            background-color: #ffffff;
            .product-img{
                width: 300px;
                height: 320px;
                border-radius:10px 10px 0 0;
            }
            .product-title{
                color: $mainColor;
                font-size: 20px;
                padding:4px 10px;
            }
            .product-details{
                @include flex (flex,space-between,center);
                padding: 10px 20px;
                .product-details__top{
                    color: $labelColor;
                }
                .product-details__btn{
                    @include flex (flex,space-between,center);
                    color: $labelColor;
                    border: 2px solid $labelColor;
                    padding: 4px 8px;
                    border-radius: 5px;
                    background-color: $backGroundBtn;
                    i{
                        padding-right: 2px;
                    }
                }
            }
        }  
    }  
}