* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

body {
  direction: rtl;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6ddc6;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: fixed;
}

div {
  color: black;
}
div.header-logo {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.header-logo .image1 {
  width: 80px;
  height: 70px;
}
div.header-btn {
  max-width: 150px;
}
div.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.header-search i {
  position: absolute;
  right: 2px;
  color: #d35400;
}
div.header-search input {
  border: 2px solid #d35400;
  border-radius: 5px;
  outline: none;
  padding-right: 17px;
  display: block;
}
@media screen and (max-width: 745px) {
  div.header-search input {
    display: none;
  }
}
div.header-nav-button {
  display: none;
}
@media screen and (max-width: 718px) {
  div.header-nav-button {
    display: block;
    display: flex;
    justify-content: start;
    align-items: start;
  }
}

@media screen and (max-width: 745px) {
  nav {
    display: none;
  }
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul a {
  color: #d35400;
  font-size: 20px;
  padding: 0px 15px;
}

main .main-index__top {
  background-image: url(../image/main/main.jpg);
  background-position: center;
  height: 250px;
  margin-bottom: 55px;
}
main .main-index__top h1 {
  color: #e28446;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
main .main-index__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}
main .main-index__bottom .main-index__bottom-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-index__bottom .main-index__bottom-box a img {
  width: 200px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #e28446;
}
main .main-index__bottom .main-index__bottom-box a img:hover {
  border: 2px dashed #A3CB38;
}
main .main-index__bottom .main-index__bottom-box .main-index__bottom-title {
  color: #006266;
  padding-top: 10px;
  font-size: 20px;
}

main {
  padding-top: 150px;
  background-color: #f2f2f2;
}
main .main-product__top {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-product__top .main-product__top-a a {
  color: #656360;
}
main .main-product__top .main-product__top-a a:last-child {
  color: #d35400;
}
main .product-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
main .product-container .product-box {
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: #ffffff;
}
main .product-container .product-box .product-img {
  width: 300px;
  height: 320px;
  border-radius: 10px 10px 0 0;
}
main .product-container .product-box .product-title {
  color: #d35400;
  font-size: 20px;
  padding: 4px 10px;
}
main .product-container .product-box .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
main .product-container .product-box .product-details .product-details__top {
  color: #006266;
}
main .product-container .product-box .product-details .product-details__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #006266;
  border: 2px solid #006266;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #ecf7e5;
}
main .product-container .product-box .product-details .product-details__btn i {
  padding-right: 2px;
}

main {
  padding-top: 150px;
}
main .main-about__top {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-about__top .main-about__top-a a {
  color: #656360;
}
main .main-about__top .main-about__top-a a:last-child {
  color: #d35400;
}
main .about-us {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-us .about-us__title {
  color: #d35400;
}
main .about-us .about-us__details {
  padding-top: 10px;
}
main .about-us .about-us__details a {
  color: #d35400;
}
main .about-us .about-us__details a:hover {
  color: #e28446;
}
main .about-us h3 {
  color: #e28446;
  padding-top: 10px;
}

main {
  padding-top: 150px;
}
main .main-contact__top {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-contact__top .main-contact__top-a a {
  color: #656360;
}
main .main-contact__top .main-contact__top-a a:last-child {
  color: #d35400;
}
main .main-contact__bottom {
  background-color: #f2f2f2;
  height: 400px;
  padding: 40px 100px;
}
main .main-contact__bottom .main-contact__bottom-form {
  max-width: 500px;
  color: #d35400;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-input label {
  color: #006266;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-input input {
  border: 2px solid #A3CB38;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-textarea {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-right: 50px;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-textarea label {
  color: #006266;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-textarea textarea {
  border: 2px solid #A3CB38;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  width: 410px;
  height: 100px;
}
main .main-contact__bottom .main-contact__bottom-form .main-contact__bottom-form-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

footer {
  background-color: #006266;
  width: 100%;
  height: 350px;
  padding: 20PX 0;
}
footer .footer-top {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
footer .footer-top img {
  width: 80px;
  height: 70px;
}
footer .footer-div {
  margin-top: 10px;
  color: #F79F1F;
  font-size: large;
  padding-left: 10px;
}
footer .footer-div__ul {
  flex-direction: column;
}
footer .footer-div__ul a {
  color: #b8e994;
}
footer .footer-bottom {
  border-top: 2px solid #d35400;
  color: #b8e994;
  padding: 20px 10px;
}

button.btn1 {
  border: 1px solid #cd6133;
  background-color: #cd6133;
  border-radius: 10px;
  padding: 5px 10px;
}
button.btn1 a {
  font-size: 16px;
  color: #fcf4da;
}
button.btn2 {
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
  padding: 5px 10px;
}
button.btn2 a {
  font-size: 16px;
  color: white;
}

.btn3 {
  border: 1px solid #006266;
  background-color: #A3CB38;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: large;
  color: #006266;
}

.btn4 {
  border: 1px solid #d35400;
  padding: 8px;
  width: 250px;
  border-radius: 10px;
  background-color: #f6ddc6;
  color: #d35400;
  font-size: 15px;
}

.login-page {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.login-page .login-page__form {
  border: 1px solid #d2d1d1;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.login-page .login-page__form h1 {
  color: #d35400;
  padding-bottom: 10px;
}
.login-page .login-page__form .login-page__form-details {
  padding-bottom: 10px;
}
.login-page .login-page__form .login-page__form-details .login-page__form-label {
  color: #006266;
  font-size: 18px;
}
.login-page .login-page__form .login-page__form-details span {
  color: #cb0c0c;
}
.login-page .login-page__form .login-page__form-details i {
  color: #006266;
  padding-left: 3px;
}
.login-page .login-page__form .login-page__form-details .login-page__form-input {
  border: 1px solid #A3CB38;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  width: 250px;
}
.login-page .login-page__form .login-page__form-details-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.login-page .login-page__form .login-page__form-details-2 label {
  color: #006266;
}
.login-page .login-page__form .login-page__form-details-2 a {
  color: #d35400;
}
.login-page .login-page__form .login-page__form-details-2 a:hover {
  color: #e28446;
}
.login-page .login-page__img {
  margin-right: 20px;
}
.login-page .login-page__img img {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.submit-page {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.submit-page .submit-page__form {
  border: 1px solid #d2d1d1;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.submit-page .submit-page__form h1 {
  color: #d35400;
  padding-bottom: 10px;
}
.submit-page .submit-page__form .submit-page__form-details {
  padding-bottom: 10px;
}
.submit-page .submit-page__form .submit-page__form-details .submit-page__form-label {
  color: #006266;
  font-size: 18px;
}
.submit-page .submit-page__form .submit-page__form-details span {
  color: #cb0c0c;
}
.submit-page .submit-page__form .submit-page__form-details i {
  color: #006266;
  padding-left: 3px;
}
.submit-page .submit-page__form .submit-page__form-details .submit-page__form-input {
  border: 1px solid #A3CB38;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  width: 250px;
}
.submit-page .submit-page__form .submit-page__form-details-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.submit-page .submit-page__form .submit-page__form-details-2 label {
  color: #006266;
}
.submit-page .submit-page__form .submit-page__form-details-2 a {
  color: #d35400;
}
.submit-page .submit-page__form .submit-page__form-details-2 a:hover {
  color: #e28446;
}
.submit-page .submit-page__img {
  margin-right: 20px;
}
.submit-page .submit-page__img img {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */